body{
    background-color:black;
    text-align: center;
}

h1{
    font-weight: 900;
    font-family: 'Libre Baskerville', serif;
    font-size: 40pt;
    text-transform: uppercase;
    color: white;
}

.poster{
    border: 2px solid white;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

#image{
    width: 100%;
}

#video{
    width: 100%;
}

h2{
    font-weight: 900;
    font-family: 'Libre Baskerville', serif;
    font-size: 30pt;
    color: white;
}